body {
	background-color: forestgreen; 
	margin: 0;
	overflow-y: hidden;
	text-align: left;
}

img {
	max-width: 100%;
}


img.maps {max-height: 100vh;
	max-width: 100%;
}

body.check-out {
	background: url("pink-sparkles.gif") center center no-repeat; /* Replace 'path/to/your/gif.gif' with the actual path to your GIF */
    background-size: cover; /* This will make sure the background covers the entire viewport */
}


.img-container {
	max-width: 500px;
	text-align: center;
} 


body.index img {
	min-height:100vh ;
	min-width:100vw;

}

body.index {
	overflow:hidden;
}

body.index map[name="image-map"] area:hover {
cursor:url(sesame-cursor.png) 24 24, auto;
}


body.browse img {
	min-height:100vh ;
	min-width:100vw;
}

body.browse map[name="image-map"] area:hover {
cursor:url(sparkle-cursor.gif) 24 24, auto;
}

body.magazine-rack {
	padding:2em;
}


#mobile-message {
	position:absolute;
	top:1em;
	left:1em;
	background:papayawhip;
	padding:1em;
	display:none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 550px) {
	#mobile-message{
		display:block;
	}


}

